@namespace Undersoft.SDK.Service.Application.Components
@inherits Component

<div @attributes="@AdditionalAttributes" @ref="Element" style="@StyleString" data-bb-support-touch="@IsSupportTouchString" data-bb-fit-view="@IsFitViewString" data-bb-center-view="@IsCenterViewString"></div>
