@namespace Undersoft.SDK.Service.Application.Components
@inherits Component

@if (IsMobileMode)
{
    <div @attributes="@AdditionalAttributes" class="@ClassString">@GetText()</div>
}
else
{
    <td @attributes="@AdditionalAttributes">
        <div class="@ClassString">@GetText()</div>
    </td>
}
